@{
    ViewData["Title"] = "Home";
}

<header>

    <div class="text-center">

        <h1>BIENVENIDOS</h1>
    </div>

</header>

<body>

    <div class="row">

        <div class="col-3 text-center rounded ">
            <a href="/Planta/Index"> <img src="/Img/LogoTodasLasPlantas.jpg" height="150" /> </a>
            <p>Todas las Plantas</p>
        </div>

        <div class="col-3 text-center rounded ">
            <a href="/FichaCuidados/Index"> <img src="/Img/LogoCuidados.jpg" height="150" /> </a>
            <p>Sección Fichas de Cuidados</p>
        </div>

        <div class="col-3 text-center rounded ">
            <a href="/Planta/Create"> <img src="/Img/LogoIngresarPlanta.png" height="150" /> </a>
            <p>Registrar una Planta</p>
        </div>

        <div class="col-3 text-center rounded ">
            <a href="/TipoPlanta/Index"> <img src="/Img/LogoUnaPlanta.jpg" height="150" /> </a>
            <p>Sección Tipos de Plantas</p>
        </div>
    </div>

    <hr />
    <h2 class="text-center">Búsquedas</h2>

    <div class="row">

        <div class=" text-center rounded col-2">
            <a href="/Planta/BusquedaPorNombre"> <img src="/Img/LogoBusqueda.jpg" height="150" /> </a>
            <p>Búsqueda por Nombre</p>
        </div>

        <div class=" text-center rounded col-2">

            <a href="/Planta/BusquedaSegunAlturaAlta"> <img src="/Img/LogoBusqueda.jpg" height="150" /> </a>
            <p>Búsqueda por Altura Alta</p>
        </div>

        <div class="text-center rounded col-2">

            <a href="/Planta/BusquedaSegunAmbiente"> <img src="/Img/LogoBusqueda.jpg" height="150" /> </a>
            <p>Búsqueda por Ambiente</p>
        </div>

        <div class="text-center rounded col-2">
            <a href="/Planta/BusquedaSegunTipoDePlanta"> <img src="/Img/LogoBusqueda.jpg" height="150" /> </a>
            <p>Búsqueda por Tipo</p>
        </div>

        <div class="text-center rounded col-2">

            <a href="/TipoPlanta/BusquedaPorTipoNombre"> <img src="/Img/LogoBusqueda.jpg" height="150" /> </a>
            <p>Búsqueda por Nombre de Tipo Planta</p>
        </div>

        <div class="text-center rounded col-2">
            <a href="/Planta/BusquedaSegunAlturaBaja"> <img src="/Img/LogoBusqueda.jpg" height="150" /> </a>
            <p>Búsqueda por Altura Baja</p>
        </div>
    </div>
</body>
